body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 2;
    background: url('https://booking.vinpearl.com/static/media/bgVinpearl.d7c8fe26.jpeg') ;
    display: flex;
    flex-direction: column;
    padding-top: 350px;
    color: white;
    text-align: left;
    padding-left: 70px;
    background-size: cover;
}

.right-section {
    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tab-button {
    padding: 10px 20px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 16px;
    border-bottom: 2px solid transparent;
}

.tab-button.active {
    border-bottom: 2px solid orange;
}

.tab-content {
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
}

form input {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-btn, .signup-btn {
    background-color: orange;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.remember-me {
    display: flex;
    align-items: center;
}

.remember-me label {
    margin-left: 5px;
    font-size: 14px;
}
